{% extends "header.html" %}

{% block body %} 

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#clothes" role="tab">Clothes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#accessories" role="tab">Accessories</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#art" role="tab">Art</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#backgrounds" role="tab">Backgrounds</a>
  </li>
</ul>



<!-- Tab panes -->
<div class="tab-content">
    <!-- Home -->
    <div class="tab-pane active" id="clothes" role="tabpanel">
         <div class="card-body">
        <h4 class="card-title">Clothes</h4>
        <div class="container"><p class="card-text">This is where users can get help minimizing their closet. Some kind of python to create interactable shit? Capsule Wardrobe</p>
            <div class="container">
                <form  action="#" class="form-inline" method="post">
                    <input type="text" class="form-control" placeholder = "Search" name="search" value="{{request.form.search}}">
                    <input class="btn btn-primary" type="submit" value="Search">
                </form>    

            <div>
                <p>{{fuck}}</p>
        </div>
    </div>     
        </div>
             
             
        </div>
     
    </div>
    <!-- Profile -->
    <div class="tab-pane" id="accessories" role="tabpanel">
         <div class="card-body">
        <h4 class="card-title">Accessories</h4>
        <p class="card-text">Watches, phone cases, wallets... Oh My!</p>
    </div>
             
        {% for i in APP_CONTENT["Accessories"] %}
            <a class="btn btn-primary" style="margin-top:2%"  href="{{i[1]}}">{{i[0]}}</a>
        {% endfor %}
    </div>

    <!-- Messages -->
    <div class="tab-pane" id="art" role="tabpanel">
            <div class="card-body">
        <h4 class="card-title">Art</h4>
        <p class="card-text">Interest in minimalist ART. Perhaps a search? for art?</p>
             {% for i in APP_CONTENT["Blog"] %}
                <a class="btn btn-primary" style="margin-top:2%"  href="{{i[1]}}">{{i[0]}}</a>
             {% endfor %}
    </div> 
    </div>
    <!-- Settings -->
    <div class="tab-pane" id="backgrounds" role="tabpanel">
             <div class="card-body">
        <h4 class="card-title">Backgrounds?</h4>
        <p class="card-text">Phone backgrounds? Desktop Backgrounds?</p>
              {% for i in APP_CONTENT["Settings"] %}
                <a class="btn btn-primary" style="margin-top:2%"  href="{{i[1]}}">{{i[0]}}</a>
             {% endfor %}
      </div>
        <img src="https://www.nativeskatestore.co.uk/images/brands/thumbnails_product/1476201767-47912000.jpg" width="70%">
    </div>
</div>

{% endblock %}