{% extends "header.html" %}

{% block body %}

<div class="containter">

    <h1>Jinja Templating Examples</h1>
    <h2>for loop with Jinja</h2>
    
    {% for o in output %}
        <p>{{o}}</p>
    {% endfor %}
    
    <hr>
    
    <h2>if statement with Jinja</h2>
    <img src="https://i.imgur.com/VyWUhush.jpg">
    
    {% if output[4]|int > 10 %}
        <p>42 is greater than 10.</p>
    {% endif %}
    
    
    <hr>
    
    <h2>replace(  ) with Jinja</h2>
    
    
    <p>{{ output[0]|replace('muffins','hey guys!thanks for uhhh... coming to my site') }}</p>
    
    
    <hr>
    
    <h2>loop through a string with .split( ) and make it a list</h2>
    
    <ul>
    {% for lang in output[1].split(',') %}
        <li>{{lang}}</li>
    {% endfor %}
    </ul>
    
    
    {{output[2]|safe}}
    
    
    <h2>Render Code HTML</h2>
    
    {% raw %}
        <pre>
        {% for i in items %}
            {{i}}
        {% endfor %}
        </pre>
    {% endraw %}
    
    
    <hr>
    
    <h2>Jinja Macros</h2>
    
    {% macro input(name, value='', type='text', size=20) -%}
    <input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" size="{{ size }}">
{%- endmacro %}
    
    <p>{{ input('username') }}</p>
    <p>{{ input('password', type='password') }}</p>
    
</div>


{% endblock %}

